saves/
XaeroWorldMap/
screenshots/
shaderpacks/
schematics/
defaultconfigs/
resourcepacks/
.mixin.out/
backups/
crash-reports/
natives/
logs/

*.jar

options.txt
optionsof.txt
usercache.json
usernamecache.json
patchouli_data.json
config/jei/*
